
<div class="con-bhome">
  <div class="home">
    <div class="home-logo">
      <%= image_tag "/cock2.png", :class => "logo" %>
    </div>
  </div>

  <div class="wrapper">
    <div class="wrapper-grid">
      <a href = "/cock_info/index" >칵테일 정보보기</a>
    </div>
    <div class="wrapper-grid">
      <a href = "/cock_recommend/index" >칵테일 추천받기</a>
    </div>
  </div>
</div>
<%# <div class="buttons"> %>
  <%#= image_tag "/logo21.png", :class => "logo" %>
  <%# <div class="container">
    <a href = "/cock_info/index" class="btn btn-2">
      칵테일 <br>정보보기
    </a>

    <a href = "/cock_recommend/index" class="btn btn-2">
      칵테일 <br>추천받기
    </a>
  </div>
</div> %>
