 
<section class="buttons">
  <%= image_tag "/logo.png", :class => "logo" %>
  <div class="container">
    <a href = "/cock_info/index" class="btn btn-2">
      칵테일 <br>정보보기
    </a>
    <a href = "/cock_recommend/index" class="btn btn-2">
      칵테일 <br>추천받기
    </a>
  </div>
</section>