<h1>오늘의 칵테일</h1>

 <div class="container">

  <a href = "/cock_info/index">
    <button id="button">칵테일 정보보기</button>
  </a>

  <a href = "/cock_recommend/index">
    <button id="button">칵테일 추천받기</button>
  </a>
 </div>
