<h1 class="title">오늘의 칵테일</h1>

 
<section class="buttons">
  <div class="container">
    <a href = "/cock_info/index" class="btn btn-2">
      칵테일 <br>정보보기
    </a>
    <a href = "/cock_recommend/index" class="btn btn-2">
      칵테일 <br>추천받기
    </a>
  </div>
</section>