<form action = '/cock_recommend/amount' method = "get">

<p>3. 마셔마셔 먹고 디져~</p>
<input type="checkbox" name="alcohol[]" value="무알콜">무알콜</br>
<input type="checkbox" name="alcohol[]" value="맥주">맥주</br>
<input type="checkbox" name="alcohol[]" value="와인">와인</br>
<input type="checkbox" name="alcohol[]" value="소주">소주</br>
<input type="checkbox" name="alcohol[]" value="폭탄주쓰">폭탄주</br>
<input type="checkbox" name="alcohol[]" value="보드카">보드카</br>
<input type="checkbox" name="alcohol[]" value="핵높음">핵높음(집에 못감)</br>
<input type="checkbox" name="alcohol[]" value="상관없음">상관없음 </br>

<input type = 'submit' value = '다음'></input>
</form>