<form action = '/cock_recommend/amount' method = "get">

<p>3. 마셔마셔 먹고 디져~</p>
<input type="radio" name="alcohol" value="맥주">맥주정도 </br>
<input type="radio" name="alcohol" value="소주">소주정도 </br>
<input type="radio" name="alcohol" value="양주">나 취할래~ </br>
<input type="radio" name="alcohol" value="상관없음">상관없음 </br>

<input type = 'submit' value = '다음'></input>
</form>