<form action = '/cock_recommend/alcohol_update' method = "get">

<p>3. 마셔마셔 먹고 디져~</p>
<input type="radio" name="alcohol" value="1">무알콜</br>
<input type="radio" name="alcohol" value="2">맥주</br>
<input type="radio" name="alcohol" value="3">와인</br>
<input type="radio" name="alcohol" value="4">소주</br>
<input type="radio" name="alcohol" value="5">폭탄주</br>
<input type="radio" name="alcohol" value="6">보드카</br>
<input type="radio" name="alcohol" value="7">핵높음(집에 못감)</br>
<input type="radio" name="alcohol" value="8">상관없음 </br>

<input type = 'submit' value = '다음'></input>
</form>