<head>
<script type="text/javascript">
  function noEvent() { // 새로 고침 방지
      if (event.keyCode == 116) {
          alert("새로 고침하여 메인 페이지로 이동합니다.");
          window.location.href = '/'
          event.keyCode = 2;
          return false;
      } else if (event.ctrlKey
              && (event.keyCode == 78 || event.keyCode == 82)) {
          return false;
      }
  }
document.onkeydown = noEvent;
</script>
</head>


<form action = '/cock_recommend/amount_update' method = "get">

<p>4. 꿀꺽꿀꺽 홀짝홀짝?</p>
<input type="radio" name="amount" value="1">원샷</br>
<input type="radio" name="amount" value="2">홀짝홀짝</br>
<input type="radio" name="amount" value="3">꿀꺽꿀꺽</br>
<input type="radio" name="amount" value="4">벌컥벌컥</br>
<input type="radio" name="amount" value="5">상관없음</br>

<input type = 'submit' value = '다음'></input>
<a href = '/cock_recommend/back_before'>이전 선택지로 돌아가기</a></br>
///////////////</br>
<% $recommend_arr.each do |x| %>
<%= x.name %></br>
<%end%>

</form>