<form action = '/cock_recommend/amount_update' method = "get">

<p>4. 꿀꺽꿀꺽 홀짝홀짝?</p>
<input type="radio" name="amount" value="1">원샷</br>
<input type="radio" name="amount" value="2">홀짝홀짝</br>
<input type="radio" name="amount" value="3">꿀꺽꿀꺽</br>
<input type="radio" name="amount" value="4">벌컥벌컥</br>
<input type="radio" name="amount" value="5">상관없음</br>

<input type = 'submit' value = '다음'></input>
</form>

</br>
<% $recommend_arr.each do |x| %>
<%= x.name %>
<% end %>
