<form action = '/cock_recommend/amount_update' method = "get">

<p>4. 꿀꺽꿀꺽 홀짝홀짝?</p>
<input type="checkbox" name="amount[]" value="원샷">원샷</br>
<input type="checkbox" name="amount[]" value="홀짝홀짝">홀짝홀짝</br>
<input type="checkbox" name="amount[]" value="꿀꺽꿀꺽">꿀꺽꿀꺽</br>
<input type="checkbox" name="amount[]" value="벌컥벌컥">벌컥벌컥</br>
<input type="checkbox" name="amount[]" value="상관없음">상관없음</br>

<input type = 'submit' value = '다음'></input>
</form>