<form action = '/cock_recommend/avoid_update' method = "get">

<p>1. 먹기 싫은거 다 골라봐~</p>
<input type="checkbox" name="avoid[]" value="민트">민트</br>
<input type="checkbox" name="avoid[]" value="커피">커피</br>
<input type="checkbox" name="avoid[]" value="메론">메론</br>
<input type="checkbox" name="avoid[]" value="탄산">탄산</br>
<input type="checkbox" name="avoid[]" value="에너지드링크">에너지드링크</br>
<input type="checkbox" name="avoid[]" value="초코">초코</br>
<input type="checkbox" name="avoid[]" value="우유">우유</br>
<input type="checkbox" name="avoid[]" value="아몬드">아몬드</br>
<input type="checkbox" name="avoid[]" value="생강">생강</br>
<input type="checkbox" name="avoid[]" value="달걀">달걀</br>
<input type="checkbox" name="avoid[]" value="상관없음">상관없음 </br>

<input type = 'submit' value = '다음'></input>
</form>