<form action = '/cock_recommend/insta' method = "get">

<p>7. 혹시 알고 있는거 있어요?</p>
<input type="checkbox" name="base[]" value="보드카">보드카 </br>
<input type="checkbox" name="base[]" value="럼">럼 </br>
<input type="checkbox" name="base[]" value="진">진 </br>
<input type="checkbox" name="base[]" value="브랜디">브랜디 </br>
<input type="checkbox" name="base[]" value="와인">와인 </br>
<input type="checkbox" name="base[]" value="리큐르">리큐르 </br>
<input type="checkbox" name="base[]" value="위스키">위스키 </br>
<input type="checkbox" name="base[]" value="맥주">맥주 </br>
<input type="checkbox" name="base[]" value="상관없음">상관없음 </br>

<input type = 'submit' value = '다음'></input>
</form>