
<h1 class="title">칵테일 추천받기</h1>


<%#=begin
 <form action = '/cock_recommend/avoid' method = "get">
  <input type = 'submit' value = '시작'></input>
</form>   
%>
<div class="intro">
  <div class="intro-wrap">
    <div class="inter-txt" style="display: block;"></div>
    <div class="start-btn btn-three" id="introMove" style="display: block;">
      <form action = '/cock_recommend/avoid' method = "get">
        <input type = 'submit' value = '시작하기'></input>
      </form>
    </div>
  </div>
</div>
