<html>


<form action = '/cock_recommend/result' method = "get">
  <p>1. 선호하는 맛을 골라주세요!</p>
    <input type="radio" name="taste" value="단맛">단맛
    <input type="radio" name="taste" value="쓴맛">쓴맛
    <input type="radio" name="taste" value="새콤">새콤
    <input type="radio" name="taste" value="신맛">신맛
    <input type="radio" name="taste" value="짠맛">짠맛
    <input type="radio" name="taste" value="과일맛">과일맛
    <input type="radio" name="taste" value="상관없음">상관없음

  <p>2. 호불호쓰</p>
    <input type="radio" name="material" value="민트">민트
    <input type="radio" name="material" value="커피">커피
    <input type="radio" name="material" value="시나몬">시나몬
    <input type="radio" name="material" value="에너지드링크">에너지드링크
    <input type="radio" name="material" value="상관없음">상관없음

  <p>3. 마셔마셔 먹고 디져~</p>
    <input type="radio" name="alcohol" value="맥주">맥주정도
    <input type="radio" name="alcohol" value="소주">소주정도
    <input type="radio" name="alcohol" value="양주">나 취할래~

  <p>4. 꿀꺽꿀꺽 홀짝홀짝?</p>
    <input type="radio" name="amount" value="벌컥벌컥">벌컥벌컥
    <input type="radio" name="amount" value="홀짝홀짝">홀짝홀짝
    <input type="radio" name="amount" value="혹혹">혹혹
    <input type="radio" name="amount" value="상관없음">상관없음

  <p>5. 민경누나 같이 톡톡 튀는 탄산?</p>
    <input type="radio" name="soda" value="있음">있음
    <input type="radio" name="soda" value="없음">없음

  <p>6. 승완이 같이 부드러운 목넘김?</p>
    <input type="radio" name="mouth_feel" value="크리미">부드러움!
    <input type="radio" name="mouth_feel" value="물">물 같이!
    <input type="radio" name="mouth_feel" value="상관없음">상관없음

  <p>7. 혹시 알고 있는거 있어요?</p>
    <input type="radio" name="base" value="보드카">보드카
    <input type="radio" name="base" value="럼">럼
    <input type="radio" name="base" value="진">진
    <input type="radio" name="base" value="브랜디">브랜디
    <input type="radio" name="base" value="와인">와인
    <input type="radio" name="base" value="리큐르">리큐르
    <input type="radio" name="base" value="위스키">위스키
    <input type="radio" name="base" value="맥주">맥주
    <input type="radio" name="base" value="상관없음">상관없음

  <p>8. 인스타 각?</p>
    <input type="radio" name="insta" value="슈가">슈가 리밍
    <input type="radio" name="insta" value="솔트">솔트 리밍
    <input type="radio" name="insta" value="이쁜">색이 이쁨
    <input type="radio" name="insta" value="화주">화주

  <input type = 'submit' value = '완료'></input>
</form>
