<section class="buttons">
  <%= image_tag "/index.png", :class => "index" %>

  <%#=begin
  <form action = '/cock_recommend/avoid' method = "get">
    <input type = 'submit' value = '시작'></input>
  </form>   
  %>
  <div class="intro">
    <div class="intro-wrap">
      <div class="inter-txt" style="display: block;">
        <div class="start-btn btn-three" id="introMove" style="display: block;">
          <form action='/cock_recommend/avoid' method="get">
            <input type='submit' value="시작하기" class="btn2">
          </form>
        </div>
      </div>
    </div>
  </div>
</section>