<form action = '/cock_recommend/result' method = "get">

<p>8. 인스타 각?</p>
<input type="radio" name="insta" value="슈가">슈가 리밍 </br>
<input type="radio" name="insta" value="솔트">솔트 리밍 </br>
<input type="radio" name="insta" value="이쁜">색이 이쁨 </br>
<input type="radio" name="insta" value="화주">화주 </br>
<input type="radio" name="insta" value="상관없음">상관없음 </br>
<input type = 'submit' value = '다음'></input>
</form>