<form action = '/cock_recommend/alcohol' method = "get">

<p>2. 호불호쓰</p>
<input type="checkbox" name="material[]" value="민트">민트 </br>
<input type="checkbox" name="material[]" value="커피">커피 </br>
<input type="checkbox" name="material[]" value="시나몬">시나몬 </br>
<input type="checkbox" name="material[]" value="에너지드링크">에너지드링크 </br>
<input type="checkbox" name="material[]" value="상관없음">상관없음 </br>

<input type = 'submit' value = '다음'></input>
</form>