<form action = '/cock_recommend/base' method = "get">

<p>6. 승완이 같이 부드러운 목넘김?</p>
<input type="checkbox" name="mouth_feel[]" value="크리미">부드러움! </br>
<input type="checkbox" name="mouth_feel[]" value="물">물 같이! </br>
<input type="checkbox" name="mouth_feel[]" value="상관없음">상관없음 </br>

<input type = 'submit' value = '다음'></input>
</form>