<form action = '/cock_recommend/mouth_feel' method = "get">

<p>5. 민경누나 같이 톡톡 튀는 탄산?</p>
<input type="checkbox" name="soda[]" value="탄산있음">있음 </br>
<input type="checkbox" name="soda[]" value="탄산없음">없음 </br>
<input type="checkbox" name="soda[]" value="상관없음">상관없음 </br>
<input type = 'submit' value = '다음'></input>
</form>