
<form action = '/cock_recommend/material' method = "get">
  <p>1. 선호하는 맛을 골라주세요!</p>

  <input type="radio" name="taste" value="단맛">단맛 </br>
  <input type="radio" name="taste" value="쓴맛">쓴맛 </br>
  <input type="radio" name="taste" value="새콤">새콤 </br>
  <input type="radio" name="taste" value="신맛">신맛 </br>
  <input type="radio" name="taste" value="짠맛">짠맛 </br>
  <input type="radio" name="taste" value="과일맛">과일맛 </br>
  <input type="radio" name="taste" value="상관없음">상관없음 </br>

  <input type = 'submit' value = '다음'></input>
</form>