
<form action = '/cock_recommend/alcohol' method = "get">
  <p>2. 선호하는 맛을 골라주세요!</p>

  <input type="checkbox" name="taste[]" value="단맛_설탕">단맛(설탕) </br>
  <input type="checkbox" name="taste[]" value="단맛_과일">단맛(과일) </br>
  <input type="checkbox" name="taste[]" value="상큼">상큼(새콤,달콤) </br>
  <input type="checkbox" name="taste[]" value="쓴맛_과일">쓴맛(과일)</br>
  <input type="checkbox" name="taste[]" value="쓴맛_술">쓴맛(술)</br>
  <input type="checkbox" name="taste[]" value="상관없음">상관없음 </br>

  <input type = 'submit' value = '다음'></input>
</form>