@font-face {
  font-family: 'Goyang';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Goyang.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face { 
  font-family: 'DungGeunMo'; 
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff'); 
  font-weight: normal; 
  font-style: normal; 
}


.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.title {
  text-align: center;
  // margin: 3em 0 0 0;
}
.title1 {
  text-align: center;
  // margin: 1em;
}

//colors
$red: #e8c91d;
$white: #fff;

//base styles

* {
  box-sizing: inherit;
  transition-property: all;
  transition-duration: .6s;
  transition-timing-function: ease;
}

html{
  margin: 5%;
  height: auto;
  width: auto;
  body {
    box-sizing: border-box;
    height: 80%;
    margin: 5%;
    width: auto;
    justify-content: center;
    background: #000000;
    // font-family: 'Goyang', sans-serif;
    font-family: "DungGeunMo", sans-serif;
    font-weight: 400;
  }
}

// Main wrap
.buttons {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    text-align: center;
    width: 100%;
}

// Button wrap
.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    @media (min-width: 600px) {
        // flex-direction: row;
        flex-direction: column;
        justify-content: space-evenly;
        margin: 3em 0;
    }
    @media (max-width: 400px) {
      // flex-direction: row;
      flex-direction: column;
      justify-content: space-evenly;
      font-size: 0.7em;
      margin: 3em 0;
  }
}

h1 {
  color: $red;
  font-size: 1.25em;
  font-weight: 900;
  // margin: 0 0 2em;

  @media (min-width: 450px) {
    font-size: 1.75em;
  }

  @media (min-width: 760px) {
    font-size: 3.25em;
  }

  @media (min-width: 900px) {
    font-size: 5.25em;
    margin: 0 0 1em;
  }
}

p {
  color: $red;
  font-size: 1em;
  @media(min-width: 600px) {
    left: 50%;
    // position: absolute;
    position: relative;
    top: 10%;
    transform: translate(-50%, 0);
  }

  @media(max-height: 500px) {
    left: 0;
    position: relative;
    top: 0;
    transform: translate(0, 0);
  }

  a {
    background: rgba($red, 0);
    border-bottom: 1px solid;
    color: $red;
    line-height: 1.4;
    padding: .25em;
    text-decoration: none;
    &:hover {
      background: rgba($red, 1);
      color: $white;
    }
  }
}
//button styles

$pink: #d93e60;
$yellow: #ead084;
.btn {
  outline:none;
  height: 10%;
  text-align: center;
  width: 60%;
  border-radius:40px;
  background: transparent;
  border: 2px solid $pink;
  color: $yellow;
  letter-spacing:1px;
  text-shadow:0;
  text-decoration: none;
  text-shadow: 3px 3px 30px #ead084;
  margin: 2em 0;
  padding: 1em;
  box-shadow: 0px 0px 15px 3px #d93e60;
  font:{
    size:1.5em;
    weight:bold;
  }
  cursor: pointer;
  transition: all 0.25s ease;
  &:hover {
    color:#fff;
    text-shadow: 3px 3px 30px #ead084;
    background: $pink;
  }
  &:active {
    //letter-spacing: 2px;
    letter-spacing: 2px ;
  }
  &:after {
    content:"";
  }
  @media (max-width: 400px) {
    outline:none;
    height: 10%;
    text-align: center;
    border-radius:40px;
    background: transparent;
    border: 2px solid $pink;
    color: $yellow;
    letter-spacing:1px;
    text-shadow:0;
    text-decoration: none;
    text-shadow: 3px 3px 30px #ead084;
    margin: 2em 0;
    padding: 1em;
    box-shadow: 0px 0px 15px 3px #d93e60;
    font:{
      size:1.5em;
      weight:bold;
    }
    cursor: pointer;
    transition: all 0.25s ease;
    &:hover {
      color:#fff;
      text-shadow: 3px 3px 30px #ead084;
      background: $pink;
    }
    &:active {
      //letter-spacing: 2px;
      letter-spacing: 2px ;
    }
    &:after {
      content:"";
    }
  }
}
.onclic {
  width: 40px;
  border-color:$yellow;
  border-width:3px;
  font-size:0;
  border-left-color:$pink;
  animation: rotating 2s 0.25s linear infinite;

  &:after {
    content:"";
  }
  &:hover {
    color:$pink;
    background: transparent;
  }
}
.validate {
  font-size:13px;
  color: white;
  background: $pink;
  &:after {
    // font-family:'Goyang';
    font-family: "DungGeunMo";
    content:"\f00c";
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
